In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('shopping.csv')
print(df.head(10))
print(df.info())

   Unnamed: 0  CustomerID Gender Location  Tenure_Months  Transaction_ID  \
0           0     17850.0      M  Chicago           12.0         16679.0
1           1     17850.0      M  Chicago           12.0         16680.0
2           2     17850.0      M  Chicago           12.0         16696.0
3           3     17850.0      M  Chicago           12.0         16699.0
4           4     17850.0      M  Chicago           12.0         16700.0
5           5     17850.0      M  Chicago           12.0         16701.0
6           6     17850.0      M  Chicago           12.0         16702.0
7           7     17850.0      M  Chicago           12.0         16703.0
8           8     17850.0      M  Chicago           12.0         16704.0
9           9     17850.0      M  Chicago           12.0         16710.0

  Transaction_Date     Product_SKU  \
0       2019-01-01  GGOENEBJ079499
1       2019-01-01  GGOENEBJ079499
2       2019-01-01  GGOENEBQ078999
3       2019-01-01  GGOENEBQ079099
4       2019-01-01  GGOENEBJ079499
5       2019-01-01  GGOENEBJ079499
6       2019-01-01  GGOENEBJ079499
7       2019-01-01  GGOENEBQ079099
8       2019-01-01  GGOENEBJ079499
9       2019-01-01  GGOENEBJ079499

                                 Product_Description Product_Category  ...  \
0  Nest Learning Thermostat 3rd Gen-USA - Stainle...         Nest-USA  ...
1  Nest Learning Thermostat 3rd Gen-USA - Stainle...         Nest-USA  ...
2             Nest Cam Outdoor Security Camera - USA         Nest-USA  ...
3    Nest Protect Smoke + CO White Battery Alarm-USA         Nest-USA  ...
4  Nest Learning Thermostat 3rd Gen-USA - Stainle...         Nest-USA  ...
5  Nest Learning Thermostat 3rd Gen-USA - Stainle...         Nest-USA  ...
6  Nest Learning Thermostat 3rd Gen-USA - Stainle...         Nest-USA  ...
7    Nest Protect Smoke + CO White Battery Alarm-USA         Nest-USA  ...
8  Nest Learning Thermostat 3rd Gen-USA - Stainle...         Nest-USA  ...
9  Nest Learning Thermostat 3rd Gen-USA - Stainle...         Nest-USA  ...

   Avg_Price  Delivery_Charges  Coupon_Status  GST      Date Offline_Spend  \
0     153.71              6.50           Used  0.1  1/1/2019        4500.0
1     153.71              6.50           Used  0.1  1/1/2019        4500.0
2     122.77              6.50       Not Used  0.1  1/1/2019        4500.0
3      81.50              6.50        Clicked  0.1  1/1/2019        4500.0
4     153.71              6.50        Clicked  0.1  1/1/2019        4500.0
5     153.71              6.50        Clicked  0.1  1/1/2019        4500.0
6     153.71              6.50        Clicked  0.1  1/1/2019        4500.0
7      81.50              6.50       Not Used  0.1  1/1/2019        4500.0
8     256.88              6.50           Used  0.1  1/1/2019        4500.0
9     153.71             28.78        Clicked  0.1  1/1/2019        4500.0

   Online_Spend  Month  Coupon_Code Discount_pct
0        2424.5      1       ELEC10         10.0
1        2424.5      1       ELEC10         10.0
2        2424.5      1       ELEC10         10.0
3        2424.5      1       ELEC10         10.0
4        2424.5      1       ELEC10         10.0
5        2424.5      1       ELEC10         10.0
6        2424.5      1       ELEC10         10.0
7        2424.5      1       ELEC10         10.0
8        2424.5      1       ELEC10         10.0
9        2424.5      1       ELEC10         10.0

[10 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52955 entries, 0 to 52954
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           52955 non-null  int64
 1   CustomerID           52924 non-null  float64
 2   Gender               52924 non-null  object
 3   Location             52924 non-null  object
 4   Tenure_Months        52924 non-null  float64
 5   Transaction_ID       52924 non-null  float64
 6   Transaction_Date     52924 non-null  object
 7   Product_SKU          52924 non-null  object
 8   Product_Description  52924 non-null  object
 9   Product_Category     52955 non-null  object
 10  Quantity             52924 non-null  float64
 11  Avg_Price            52924 non-null  float64
 12  Delivery_Charges     52924 non-null  float64
 13  Coupon_Status        52924 non-null  object
 14  GST                  52924 non-null  float64
 15  Date                 52924 non-null  object
 16  Offline_Spend        52924 non-null  float64
 17  Online_Spend         52924 non-null  float64
 18  Month                52955 non-null  int64
 19  Coupon_Code          52555 non-null  object
 20  Discount_pct         52555 non-null  float64
dtypes: float64(10), int64(2), object(9)
memory usage: 8.5+ MB
None

In [3]:
for col in df.columns:
    if df[col].isna().any() :
        print(col)


#Number of values missing in coupon column

null_count = df['Coupon_Status'].isna().sum()

print("Number of null values in coupon columns is: ",null_count)

CustomerID
Gender
Location
Tenure_Months
Transaction_ID
Transaction_Date
Product_SKU
Product_Description
Quantity
Avg_Price
Delivery_Charges
Coupon_Status
GST
Date
Offline_Spend
Online_Spend
Coupon_Code
Discount_pct
Number of null values in coupon columns is:  31

In [4]:
# import datetime
df['Transaction_Date'] = df['Transaction_Date'].astype('datetime64[ns]')
df.info()
# df = df.to_datetime('Transaction_Date')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52955 entries, 0 to 52954
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           52955 non-null  int64
 1   CustomerID           52924 non-null  float64
 2   Gender               52924 non-null  object
 3   Location             52924 non-null  object
 4   Tenure_Months        52924 non-null  float64
 5   Transaction_ID       52924 non-null  float64
 6   Transaction_Date     52924 non-null  datetime64[ns]
 7   Product_SKU          52924 non-null  object
 8   Product_Description  52924 non-null  object
 9   Product_Category     52955 non-null  object
 10  Quantity             52924 non-null  float64
 11  Avg_Price            52924 non-null  float64
 12  Delivery_Charges     52924 non-null  float64
 13  Coupon_Status        52924 non-null  object
 14  GST                  52924 non-null  float64
 15  Date                 52924 non-null  object
 16  Offline_Spend        52924 non-null  float64
 17  Online_Spend         52924 non-null  float64
 18  Month                52955 non-null  int64
 19  Coupon_Code          52555 non-null  object
 20  Discount_pct         52555 non-null  float64
dtypes: datetime64[ns](1), float64(10), int64(2), object(8)
memory usage: 8.5+ MB

In [5]:
duplicated_transactions = df[df.duplicated(subset = ['Transaction_ID'])]
duplicated_transactions

,Unnamed: 0,CustomerID,Gender,Location,Tenure_Months,Transaction_ID,Transaction_Date,Product_SKU,Product_Description,Product_Category,...,Avg_Price,Delivery_Charges,Coupon_Status,GST,Date,Offline_Spend,Online_Spend,Month,Coupon_Code,Discount_pct
13,13,17850.0,M,Chicago,12.0,16720.0,2019-01-01,GGOENEBQ078999,Nest Cam Outdoor Security Camera - USA,Nest-USA,...,122.77,6.5,Clicked,0.1,1/1/2019,4500.0,2424.50,1,ELEC10,10.0
16,16,17850.0,M,Chicago,12.0,16722.0,2019-01-01,GGOENEBQ078999,Nest Cam Outdoor Security Camera - USA,Nest-USA,...,122.77,6.5,Used,0.1,1/1/2019,4500.0,2424.50,1,ELEC10,10.0
18,18,17850.0,M,Chicago,12.0,16723.0,2019-01-01,GGOENEBQ078999,Nest Cam Outdoor Security Camera - USA,Nest-USA,...,122.77,6.5,Not Used,0.1,1/1/2019,4500.0,2424.50,1,ELEC10,10.0
24,24,13047.0,M,California,43.0,16684.0,2019-01-01,GGOENEBQ079199,Nest Protect Smoke + CO White Wired Alarm-USA,Nest-USA,...,81.50,6.5,Used,0.1,1/1/2019,4500.0,2424.50,1,ELEC10,10.0
39,39,12431.0,F,New Jersey,14.0,16819.0,2019-01-03,GGOENEBQ079199,Nest Protect Smoke + CO White Wired Alarm-USA,Nest-USA,...,81.50,6.5,Clicked,0.1,1/3/2019,4500.0,1576.38,1,ELEC10,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52950,52950,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,Gift Cards,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,GC20,20.0
52951,52951,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,Notebooks & Journals,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,NJ20,20.0
52952,52952,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,Android,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,AND10,10.0
52953,52953,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,Android,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,AND20,20.0
52954,52954,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,Android,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,AND30,30.0

In [6]:
chicgo_df = df[df['Location'] == 'Chicago']
chicgo_df

,Unnamed: 0,CustomerID,Gender,Location,Tenure_Months,Transaction_ID,Transaction_Date,Product_SKU,Product_Description,Product_Category,...,Avg_Price,Delivery_Charges,Coupon_Status,GST,Date,Offline_Spend,Online_Spend,Month,Coupon_Code,Discount_pct
0,0,17850.0,M,Chicago,12.0,16679.0,2019-01-01,GGOENEBJ079499,Nest Learning Thermostat 3rd Gen-USA - Stainle...,Nest-USA,...,153.71,6.5,Used,0.10,1/1/2019,4500.0,2424.50,1,ELEC10,10.0
1,1,17850.0,M,Chicago,12.0,16680.0,2019-01-01,GGOENEBJ079499,Nest Learning Thermostat 3rd Gen-USA - Stainle...,Nest-USA,...,153.71,6.5,Used,0.10,1/1/2019,4500.0,2424.50,1,ELEC10,10.0
2,2,17850.0,M,Chicago,12.0,16696.0,2019-01-01,GGOENEBQ078999,Nest Cam Outdoor Security Camera - USA,Nest-USA,...,122.77,6.5,Not Used,0.10,1/1/2019,4500.0,2424.50,1,ELEC10,10.0
3,3,17850.0,M,Chicago,12.0,16699.0,2019-01-01,GGOENEBQ079099,Nest Protect Smoke + CO White Battery Alarm-USA,Nest-USA,...,81.50,6.5,Clicked,0.10,1/1/2019,4500.0,2424.50,1,ELEC10,10.0
4,4,17850.0,M,Chicago,12.0,16700.0,2019-01-01,GGOENEBJ079499,Nest Learning Thermostat 3rd Gen-USA - Stainle...,Nest-USA,...,153.71,6.5,Clicked,0.10,1/1/2019,4500.0,2424.50,1,ELEC10,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52916,52916,15002.0,M,Chicago,41.0,23798.0,2019-03-22,GGOEGGCX056299,Gift Card - $25.00,Gift Cards,...,25.00,0.0,Used,0.05,3/22/2019,2000.0,2523.41,3,GC30,30.0
52917,52917,15002.0,M,Chicago,41.0,23799.0,2019-03-22,GGOEGGCX056299,Gift Card - $25.00,Gift Cards,...,25.00,0.0,Clicked,0.05,3/22/2019,2000.0,2523.41,3,GC30,30.0
52918,52918,15002.0,M,Chicago,41.0,23800.0,2019-03-22,GGOEGGCX056299,Gift Card - $25.00,Gift Cards,...,25.00,0.0,Clicked,0.05,3/22/2019,2000.0,2523.41,3,GC30,30.0
52920,52920,18077.0,M,Chicago,34.0,24250.0,2019-03-28,GGOEGGCX056299,Gift Card - $25.00,Gift Cards,...,25.00,0.0,Used,0.05,3/28/2019,2000.0,1066.12,3,GC30,30.0
52923,52923,13659.0,F,Chicago,8.0,39998.0,2019-10-06,GGOEGOCC077999,Google Spiral Journal with Pen,Notebooks & Journals,...,5.59,6.5,Not Used,0.05,10/6/2019,3000.0,2230.76,10,NJ10,10.0

In [7]:
q6 = df[(df['Gender'] == 'M') & (df['Product_Category'] == 'Nest-USA')]
q6

,Unnamed: 0,CustomerID,Gender,Location,Tenure_Months,Transaction_ID,Transaction_Date,Product_SKU,Product_Description,Product_Category,...,Avg_Price,Delivery_Charges,Coupon_Status,GST,Date,Offline_Spend,Online_Spend,Month,Coupon_Code,Discount_pct
0,0,17850.0,M,Chicago,12.0,16679.0,2019-01-01,GGOENEBJ079499,Nest Learning Thermostat 3rd Gen-USA - Stainle...,Nest-USA,...,153.71,6.5,Used,0.1,1/1/2019,4500.0,2424.50,1,ELEC10,10.0
1,1,17850.0,M,Chicago,12.0,16680.0,2019-01-01,GGOENEBJ079499,Nest Learning Thermostat 3rd Gen-USA - Stainle...,Nest-USA,...,153.71,6.5,Used,0.1,1/1/2019,4500.0,2424.50,1,ELEC10,10.0
2,2,17850.0,M,Chicago,12.0,16696.0,2019-01-01,GGOENEBQ078999,Nest Cam Outdoor Security Camera - USA,Nest-USA,...,122.77,6.5,Not Used,0.1,1/1/2019,4500.0,2424.50,1,ELEC10,10.0
3,3,17850.0,M,Chicago,12.0,16699.0,2019-01-01,GGOENEBQ079099,Nest Protect Smoke + CO White Battery Alarm-USA,Nest-USA,...,81.50,6.5,Clicked,0.1,1/1/2019,4500.0,2424.50,1,ELEC10,10.0
4,4,17850.0,M,Chicago,12.0,16700.0,2019-01-01,GGOENEBJ079499,Nest Learning Thermostat 3rd Gen-USA - Stainle...,Nest-USA,...,153.71,6.5,Clicked,0.1,1/1/2019,4500.0,2424.50,1,ELEC10,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48981,48981,16085.0,M,California,15.0,39983.0,2019-10-06,GGOENEBD084799,Nest Learning Thermostat 3rd Gen-USA - Copper,Nest-USA,...,149.00,6.0,Clicked,0.1,10/6/2019,3000.0,2230.76,10,ELEC10,10.0
48982,48982,16085.0,M,California,15.0,39983.0,2019-10-06,GGOENEBQ079199,Nest Protect Smoke + CO White Wired Alarm-USA,Nest-USA,...,79.00,6.0,Used,0.1,10/6/2019,3000.0,2230.76,10,ELEC10,10.0
48983,48983,16085.0,M,California,15.0,39984.0,2019-10-06,GGOENEBQ079199,Nest Protect Smoke + CO White Wired Alarm-USA,Nest-USA,...,79.00,6.0,Used,0.1,10/6/2019,3000.0,2230.76,10,ELEC10,10.0
48984,48984,16085.0,M,California,15.0,39987.0,2019-10-06,GGOENEBJ079499,Nest Learning Thermostat 3rd Gen-USA - Stainle...,Nest-USA,...,149.00,6.0,Clicked,0.1,10/6/2019,3000.0,2230.76,10,ELEC10,10.0
48985,48985,16085.0,M,California,15.0,39991.0,2019-10-06,GGOENEBD084799,Nest Learning Thermostat 3rd Gen-USA - Copper,Nest-USA,...,149.00,6.0,Used,0.1,10/6/2019,3000.0,2230.76,10,ELEC10,10.0

In [8]:
df.columns

Index(['Unnamed: 0', 'CustomerID', 'Gender', 'Location', 'Tenure_Months',
       'Transaction_ID', 'Transaction_Date', 'Product_SKU',
       'Product_Description', 'Product_Category', 'Quantity', 'Avg_Price',
       'Delivery_Charges', 'Coupon_Status', 'GST', 'Date', 'Offline_Spend',
       'Online_Spend', 'Month', 'Coupon_Code', 'Discount_pct'],
      dtype='object')

In [12]:
#q7
pd.set_option('display.max_columns',None)
print(df[(df['Avg_Price'] > 100) & (df['Quantity'] > 1)])
pd.reset_option('display.max_columns')

       Unnamed: 0  CustomerID Gender    Location  Tenure_Months  \
2               2     17850.0      M     Chicago           12.0
6               6     17850.0      M     Chicago           12.0
16             16     17850.0      M     Chicago           12.0
22             22     17850.0      M     Chicago           12.0
23             23     13047.0      M  California           43.0
...           ...         ...    ...         ...            ...
52088       52088     17880.0      M  California           12.0
52089       52089     15555.0      F     Chicago           34.0
52091       52091     13102.0      F    New York           10.0
52094       52094     17341.0      F    New York           13.0
52095       52095     14051.0      M     Chicago            6.0

       Transaction_ID Transaction_Date     Product_SKU  \
2             16696.0       2019-01-01  GGOENEBQ078999
6             16702.0       2019-01-01  GGOENEBJ079499
16            16722.0       2019-01-01  GGOENEBQ078999
22            16731.0       2019-01-01  GGOENEBQ078999
23            16684.0       2019-01-01  GGOENEBQ078999
...               ...              ...             ...
52088         26309.0       2019-04-24  GGOENEBQ081699
52089         26084.0       2019-04-20  GGOENEBB081499
52091         25730.0       2019-04-17  GGOENEBJ081899
52094         24676.0       2019-04-03  GGOENEBQ081699
52095         24725.0       2019-04-03  GGOENEBB081499

                                     Product_Description Product_Category  \
2                 Nest Cam Outdoor Security Camera - USA         Nest-USA
6      Nest Learning Thermostat 3rd Gen-USA - Stainle...         Nest-USA
16                Nest Cam Outdoor Security Camera - USA         Nest-USA
22                Nest Cam Outdoor Security Camera - USA         Nest-USA
23                Nest Cam Outdoor Security Camera - USA         Nest-USA
...                                                  ...              ...
52088   Nest Protect Smoke + CO White Battery Alarm - CA      Nest-Canada
52089               Nest Cam Indoor Security Camera - CA      Nest-Canada
52091  Nest Learning Thermostat 3rd Gen - CA - Stainl...      Nest-Canada
52094   Nest Protect Smoke + CO White Battery Alarm - CA      Nest-Canada
52095               Nest Cam Indoor Security Camera - CA      Nest-Canada

       Quantity  Avg_Price  Delivery_Charges Coupon_Status  GST       Date  \
2           2.0     122.77               6.5      Not Used  0.1   1/1/2019
6           2.0     153.71               6.5       Clicked  0.1   1/1/2019
16          2.0     122.77               6.5          Used  0.1   1/1/2019
22          2.0     122.77               6.5       Clicked  0.1   1/1/2019
23          2.0     122.77               6.5       Clicked  0.1   1/1/2019
...         ...        ...               ...           ...  ...        ...
52088       2.0     104.00               8.7       Clicked  0.1  4/24/2019
52089       3.0     149.00               8.7          Used  0.1  4/20/2019
52091       2.0     199.00               8.7       Clicked  0.1  4/17/2019
52094       3.0     104.00               8.7      Not Used  0.1   4/3/2019
52095       2.0     149.00               8.7       Clicked  0.1   4/3/2019

       Offline_Spend  Online_Spend  Month Coupon_Code  Discount_pct
2             4500.0       2424.50      1      ELEC10          10.0
6             4500.0       2424.50      1      ELEC10          10.0
16            4500.0       2424.50      1      ELEC10          10.0
22            4500.0       2424.50      1      ELEC10          10.0
23            4500.0       2424.50      1      ELEC10          10.0
...              ...           ...    ...         ...           ...
52088         3500.0       1650.62      4       NCA10          10.0
52089         4000.0       1330.34      4       NCA10          10.0
52091         4000.0       2526.49      4       NCA10          10.0
52094         2500.0       1748.14      4       NCA10          10.0
52095         2500.0       1748.14      4       NCA10          10.0

[3582 rows x 21 columns]

In [15]:
df.dropna(inplace=True)
df[df['Product_Description'].str.contains("Nest")]

,Unnamed: 0,CustomerID,Gender,Location,Tenure_Months,Transaction_ID,Transaction_Date,Product_SKU,Product_Description,Product_Category,...,Avg_Price,Delivery_Charges,Coupon_Status,GST,Date,Offline_Spend,Online_Spend,Month,Coupon_Code,Discount_pct
0,0,17850.0,M,Chicago,12.0,16679.0,2019-01-01,GGOENEBJ079499,Nest Learning Thermostat 3rd Gen-USA - Stainle...,Nest-USA,...,153.71,6.5,Used,0.1,1/1/2019,4500.0,2424.50,1,ELEC10,10.0
1,1,17850.0,M,Chicago,12.0,16680.0,2019-01-01,GGOENEBJ079499,Nest Learning Thermostat 3rd Gen-USA - Stainle...,Nest-USA,...,153.71,6.5,Used,0.1,1/1/2019,4500.0,2424.50,1,ELEC10,10.0
2,2,17850.0,M,Chicago,12.0,16696.0,2019-01-01,GGOENEBQ078999,Nest Cam Outdoor Security Camera - USA,Nest-USA,...,122.77,6.5,Not Used,0.1,1/1/2019,4500.0,2424.50,1,ELEC10,10.0
3,3,17850.0,M,Chicago,12.0,16699.0,2019-01-01,GGOENEBQ079099,Nest Protect Smoke + CO White Battery Alarm-USA,Nest-USA,...,81.50,6.5,Clicked,0.1,1/1/2019,4500.0,2424.50,1,ELEC10,10.0
4,4,17850.0,M,Chicago,12.0,16700.0,2019-01-01,GGOENEBJ079499,Nest Learning Thermostat 3rd Gen-USA - Stainle...,Nest-USA,...,153.71,6.5,Clicked,0.1,1/1/2019,4500.0,2424.50,1,ELEC10,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52092,52092,13102.0,F,New York,10.0,25730.0,2019-04-17,GGOENEBQ081599,Nest Cam Outdoor Security Camera - CA,Nest-Canada,...,149.00,8.7,Clicked,0.1,4/17/2019,4000.0,2526.49,4,NCA10,10.0
52093,52093,17722.0,F,Chicago,12.0,24634.0,2019-04-02,GGOENEBQ081699,Nest Protect Smoke + CO White Battery Alarm - CA,Nest-Canada,...,104.00,8.7,Used,0.1,4/2/2019,2500.0,1909.27,4,NCA10,10.0
52094,52094,17341.0,F,New York,13.0,24676.0,2019-04-03,GGOENEBQ081699,Nest Protect Smoke + CO White Battery Alarm - CA,Nest-Canada,...,104.00,8.7,Not Used,0.1,4/3/2019,2500.0,1748.14,4,NCA10,10.0
52095,52095,14051.0,M,Chicago,6.0,24725.0,2019-04-03,GGOENEBB081499,Nest Cam Indoor Security Camera - CA,Nest-Canada,...,149.00,8.7,Clicked,0.1,4/3/2019,2500.0,1748.14,4,NCA10,10.0
52096,52096,17827.0,M,California,32.0,26391.0,2019-04-25,GGOENEBB081499,Nest Cam Indoor Security Camera - CA,Nest-Canada,...,149.00,8.7,Clicked,0.1,4/25/2019,3500.0,620.94,4,NCA10,10.0

In [ ]:
#Q9

print(df.groupby('Product_Category')['Avg_Price'].mean('Avg_Price'))
df.groupby('Product_Category')['Avg_Price'].mean('Avg_Price').reset_index()

Product_Category
Accessories               8.211068
Android                  15.903488
Apparel                  19.788995
Bags                     29.830797
Bottles                   3.437201
Drinkware                10.696893
Gift Cards              111.363270
Headgear                 15.879624
Housewares                2.060574
Lifestyle                 3.860078
Nest                    194.221074
Nest-Canada             157.243249
Nest-USA                124.331850
Notebooks & Journals     11.758505
Office                    3.770012
Waze                      6.607852
Name: Avg_Price, dtype: float64

        Product_Category   Avg_Price
0            Accessories    8.211068
1                Android   15.903488
2                Apparel   19.788995
3                   Bags   29.830797
4                Bottles    3.437201
5              Drinkware   10.696893
6             Gift Cards  111.363270
7               Headgear   15.879624
8             Housewares    2.060574
9              Lifestyle    3.860078
10                  Nest  194.221074
11           Nest-Canada  157.243249
12              Nest-USA  124.331850
13  Notebooks & Journals   11.758505
14                Office    3.770012
15                  Waze    6.607852

In [ ]:
# Q10
print(df.groupby('Location')['Transaction_ID'].nunique())
print(df.groupby('Location')['Transaction_ID'].count())

Location
California       7869
Chicago          9067
New Jersey       2262
New York         5487
Washington DC    1407
Name: Transaction_ID, dtype: int64
Location
California       16008
Chicago          18240
New Jersey        4470
New York         11097
Washington DC     2709
Name: Transaction_ID, dtype: int64

In [ ]:
# Q11
df.groupby('Gender')[['Offline_Spend','Online_Spend']].sum()

        Offline_Spend  Online_Spend
Gender
F          93825600.0   62291544.23
M          54944900.0   37200278.87

In [ ]:
# Q11
df.groupby('Coupon_Status')['Transaction_ID'].count()

Coupon_Status
Clicked     26720
Not Used     8026
Used        17778
Name: Transaction_ID, dtype: int64

In [37]:
df.columns

Index(['Unnamed: 0', 'CustomerID', 'Gender', 'Location', 'Tenure_Months',
       'Transaction_ID', 'Transaction_Date', 'Product_SKU',
       'Product_Description', 'Product_Category', 'Quantity', 'Avg_Price',
       'Delivery_Charges', 'Coupon_Status', 'GST', 'Date', 'Offline_Spend',
       'Online_Spend', 'Month', 'Coupon_Code', 'Discount_pct'],
      dtype='object')

In [38]:
df['Total_Transaction_Value'] = df['Quantity'] * df['Avg_Price'] + df['GST'] + df['Delivery_Charges']
df.head()

,Unnamed: 0,CustomerID,Gender,Location,Tenure_Months,Transaction_ID,Transaction_Date,Product_SKU,Product_Description,Product_Category,...,Delivery_Charges,Coupon_Status,GST,Date,Offline_Spend,Online_Spend,Month,Coupon_Code,Discount_pct,Total_Transaction_Value
0,0,17850.0,M,Chicago,12.0,16679.0,2019-01-01,GGOENEBJ079499,Nest Learning Thermostat 3rd Gen-USA - Stainle...,Nest-USA,...,6.5,Used,0.1,1/1/2019,4500.0,2424.5,1,ELEC10,10.0,160.31
1,1,17850.0,M,Chicago,12.0,16680.0,2019-01-01,GGOENEBJ079499,Nest Learning Thermostat 3rd Gen-USA - Stainle...,Nest-USA,...,6.5,Used,0.1,1/1/2019,4500.0,2424.5,1,ELEC10,10.0,160.31
2,2,17850.0,M,Chicago,12.0,16696.0,2019-01-01,GGOENEBQ078999,Nest Cam Outdoor Security Camera - USA,Nest-USA,...,6.5,Not Used,0.1,1/1/2019,4500.0,2424.5,1,ELEC10,10.0,252.14
3,3,17850.0,M,Chicago,12.0,16699.0,2019-01-01,GGOENEBQ079099,Nest Protect Smoke + CO White Battery Alarm-USA,Nest-USA,...,6.5,Clicked,0.1,1/1/2019,4500.0,2424.5,1,ELEC10,10.0,88.10
4,4,17850.0,M,Chicago,12.0,16700.0,2019-01-01,GGOENEBJ079499,Nest Learning Thermostat 3rd Gen-USA - Stainle...,Nest-USA,...,6.5,Clicked,0.1,1/1/2019,4500.0,2424.5,1,ELEC10,10.0,160.31

In [42]:
pd.pivot(data = df, columns='Location', values= 'Quantity')

Location  California  Chicago  New Jersey  New York  Washington DC
0                NaN      1.0         NaN       NaN            NaN
1                NaN      1.0         NaN       NaN            NaN
2                NaN      2.0         NaN       NaN            NaN
3                NaN      1.0         NaN       NaN            NaN
4                NaN      1.0         NaN       NaN            NaN
...              ...      ...         ...       ...            ...
52919            1.0      NaN         NaN       NaN            NaN
52920            NaN      1.0         NaN       NaN            NaN
52921            1.0      NaN         NaN       NaN            NaN
52922            1.0      NaN         NaN       NaN            NaN
52923            NaN      1.0         NaN       NaN            NaN

[52524 rows x 5 columns]