In [14]:
import pandas as pd
from sklearn.impute import SimpleImputer

In [15]:
df = pd.read_csv('titanic.csv')
df.head()

   survived  pclass  gender   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [16]:
df['age_mean'] = df['age'].fillna(df['age'].mean())
df['age_median'] = df['age'].fillna(df['age'].median())
df['age_mode'] = df['age'].fillna(df['age'].mode()[0])
df['age_constant'] = df['age'].fillna(0)

In [17]:
df

,survived,pclass,gender,age,sibsp,parch,fare,embarked,deck,age_mean,age_median,age_mode,age_constant
0,0,3,male,22.0,1,0,7.2500,S,NaN,22.000000,22.0,22.0,22.0
1,1,1,female,38.0,1,0,71.2833,C,C,38.000000,38.0,38.0,38.0
2,1,3,female,26.0,0,0,7.9250,S,NaN,26.000000,26.0,26.0,26.0
3,1,1,female,35.0,1,0,53.1000,S,C,35.000000,35.0,35.0,35.0
4,0,3,male,35.0,0,0,8.0500,S,NaN,35.000000,35.0,35.0,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,NaN,27.000000,27.0,27.0,27.0
887,1,1,female,19.0,0,0,30.0000,S,B,19.000000,19.0,19.0,19.0
888,0,3,female,NaN,1,2,23.4500,S,NaN,29.699118,28.0,24.0,0.0
889,1,1,male,26.0,0,0,30.0000,C,C,26.000000,26.0,26.0,26.0
890,0,3,male,32.0,0,0,7.7500,Q,NaN,32.000000,32.0,32.0,32.0

In [18]:
#handling missing values with simpleimputed mean of scikitlearn library

imp_mean = SimpleImputer(strategy='mean')
df['age_imputed_mean'] = imp_mean.fit_transform(df[['age']])

imp_median = SimpleImputer(strategy='median')
df['age_imputed_median'] = imp_median.fit_transform(df[['age']])

imp_mode = SimpleImputer(strategy='most_frequent')
df['age_imputed_mode'] = imp_mode.fit_transform(df[['age']])

imp_costant = SimpleImputer(strategy = 'constant', fill_value = 0)
df['age_imp_const'] = imp_costant.fit_transform(df[['age']])

df

,survived,pclass,gender,age,sibsp,parch,fare,embarked,deck,age_mean,age_median,age_mode,age_constant,age_imputed_mean,age_imputed_median,age_imputed_mode,age_imp_const
0,0,3,male,22.0,1,0,7.2500,S,NaN,22.000000,22.0,22.0,22.0,22.000000,22.0,22.0,22.0
1,1,1,female,38.0,1,0,71.2833,C,C,38.000000,38.0,38.0,38.0,38.000000,38.0,38.0,38.0
2,1,3,female,26.0,0,0,7.9250,S,NaN,26.000000,26.0,26.0,26.0,26.000000,26.0,26.0,26.0
3,1,1,female,35.0,1,0,53.1000,S,C,35.000000,35.0,35.0,35.0,35.000000,35.0,35.0,35.0
4,0,3,male,35.0,0,0,8.0500,S,NaN,35.000000,35.0,35.0,35.0,35.000000,35.0,35.0,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,NaN,27.000000,27.0,27.0,27.0,27.000000,27.0,27.0,27.0
887,1,1,female,19.0,0,0,30.0000,S,B,19.000000,19.0,19.0,19.0,19.000000,19.0,19.0,19.0
888,0,3,female,NaN,1,2,23.4500,S,NaN,29.699118,28.0,24.0,0.0,29.699118,28.0,24.0,0.0
889,1,1,male,26.0,0,0,30.0000,C,C,26.000000,26.0,26.0,26.0,26.000000,26.0,26.0,26.0
890,0,3,male,32.0,0,0,7.7500,Q,NaN,32.000000,32.0,32.0,32.0,32.000000,32.0,32.0,32.0