Find if gender and smoking is related in tips dataset

In [1]:
import pandas as pd
from scipy.stats import chi2_contingency

In [2]:
df = pd.read_csv('../datasets/tips.csv')

In [3]:
df

,total_bill,tip,gender,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3.560330e+15,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4.478070e+15,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6.011810e+15,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4.676140e+15,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4.832730e+15,Sun2251
...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5.296070e+15,Sat2657
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3.506810e+15,Sat1766
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6.011890e+15,Sat3880
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4.375220e+12,Sat17
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,3.511450e+15,Thur672

In [5]:
contingency_table = pd.crosstab(df['gender'], df['smoker'])
contingency_table

smoker  No  Yes
gender
Female  54   33
Male    97   60

In [6]:
chi2_stat, p_value,dof, expected  = chi2_contingency(contingency_table)

In [7]:
print("Chi-Sq statistic : ", chi2_stat)
print("p_value: ", p_value)
print("degree of freedom : ", dof)

Chi-Sq statistic :  0.0
p_value:  1.0
degree of freedom :  1

In [8]:
if p_value < 0.05:
    print("Reject H0")
else:
    print("Do not reject H0")

Do not reject H0