Consider the diabetes dataset and find the relation of age with diabetes outcome
group age in 3 categories young : <=30 middle 31-50 and old > 50

In [1]:
import pandas as pd
from scipy.stats import chi2_contingency
import numpy as np

In [2]:
df = pd.read_csv('../datasets/diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
conditions = [
    (df['Age'] >= 0) & (df['Age'] <= 30), 
    (df['Age'] >= 31) & (df['Age'] <= 50),
    (df['Age'] > 50) 
]

# 2. Define your choices corresponding to the conditions
groups = ['young', 'middle', 'old']

# 3. Use np.select
# 'default' handles values that don't match any condition (e.g., negative ages or NaNs)
df['Age Group'] = np.select(conditions, groups, default='unknown')

In [6]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Age Group
0,6,148,72,35,0,33.6,0.627,50,1,middle
1,1,85,66,29,0,26.6,0.351,31,0,middle
2,8,183,64,0,0,23.3,0.672,32,1,middle
3,1,89,66,23,94,28.1,0.167,21,0,young
4,0,137,40,35,168,43.1,2.288,33,1,middle
...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0,old
764,2,122,70,27,0,36.8,0.340,27,0,young
765,5,121,72,23,112,26.2,0.245,30,0,young
766,1,126,60,0,0,30.1,0.349,47,1,middle
767,1,93,70,31,0,30.4,0.315,23,0,young

In [7]:
contingency_table = pd.crosstab(df['Age Group'], df['Outcome'])
contingency_table

Outcome      0    1
Age Group
middle     130  140
old         43   38
young      327   90

In [8]:
chi2_stat, p_value,dof, expected  = chi2_contingency(contingency_table)

In [9]:
print("Chi-Sq statistic : ", chi2_stat)
print("p_value: ", p_value)
print("degree of freedom : ", dof)

Chi-Sq statistic :  71.85015965734874
p_value:  2.4999773184934036e-16
degree of freedom :  2

In [10]:
if p_value < 0.05:
    print("Reject H0")
else:
    print("Do not reject H0")

Reject H0