# chi-sq test of independence, also first create the contingency table using crosstab() function 
# H0: there is no dependency of passangers class on passanger survival

In [1]:
import pandas as pd
from scipy.stats import chi2_contingency

In [2]:
df = pd.read_csv('../datasets/titanic.csv')

In [4]:
df

     survived  pclass  gender   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [6]:
# create a congingency table
contingency_table = pd.crosstab(df['pclass'], df['survived'])
print(contingency_table)

survived    0    1
pclass
1          80  136
2          97   87
3         372  119

In [7]:
#perform the chi-sq test

chi2_stat, p_value ,dof,expected = chi2_contingency(contingency_table)

In [8]:
print("Chi-Sq statistic : ", chi2_stat)
print("p_value: ", p_value)
print("degree of freedom : ", dof)

Chi-Sq statistic :  102.88898875696056
p_value:  4.549251711298793e-23
degree of freedom :  2

In [9]:
if p_value < 0.05:
    print("Reject H0")
else:
    print("Do not reject H0")

Reject H0