# Two independent sample t test. chekc whether two gorups/samples are statustucally similar/different

In [1]:
import pandas as pd
from scipy import stats

In [4]:
data = pd.read_csv('../datasets/Mall_customers.csv')
data.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [5]:
male_spending = data[data['Genre'] == "Male"]['Spending Score (1-100)']
female_spending = data[data['Genre'] == "Female"]['Spending Score (1-100)']

In [9]:
male_spending = male_spending.sample(n=30, replace = False)
female_spending = female_spending.sample(n=30, replace = False)

In [10]:
t_statistic, p_value = stats.ttest_ind(male_spending, female_spending)

In [11]:
alpha= 0.05
print(f"P-Value :", p_value)

P-Value : 0.37139615069878307

In [12]:
if p_value < alpha:
    print("Rejected H0")
else:
    print("Do not reject H0")

Do not reject H0