In [4]:
import pandas as pd
import scipy.stats as stats

In [3]:
df = pd.read_csv('../datasets/rainfall_new_jersery.csv')
df

,_id,Year,January,February,March,April,May,June,July,August,September,October,November,December,YearTotalmm
0,1,1894,121.9,44.1,42.1,83.6,58.4,43.9,156.3,99.0,63.4,59.6,92.7,48.0,913.0
1,2,1895,91.8,2.9,51.6,39.4,1.5,42.1,76.9,65.1,9.4,177.7,110.8,129.2,798.4
2,3,1896,27.5,9.2,56.3,17.2,10.1,54.8,23.7,66.0,192.2,133.7,47.8,117.7,756.2
3,4,1897,64.3,56.9,90.2,84.8,47.9,87.0,14.9,140.5,92.8,26.0,33.6,97.5,836.4
4,5,1898,20.1,47.5,39.7,32.5,104.8,56.3,22.6,60.3,31.9,81.2,82.0,112.4,691.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,122,2015,106.6,99.6,37.4,39.7,40.5,40.9,65.5,163.4,61.4,56.1,97.1,85.8,894.0
122,123,2016,190.9,134.1,110.9,39.5,42.4,62.7,23.2,53.9,47.0,56.6,139.2,22.6,923.0
123,124,2017,72.4,98.4,80.8,40.8,79.4,42.0,47.6,104.6,129.4,67.0,111.0,181.8,1055.2
124,125,2018,149.8,56.4,119.2,66.4,25.8,41.0,20.0,43.6,35.6,59.8,77.4,109.1,804.1
125,126,2019,66.6,63.4,65.1,54.4,47.6,91.6,10.2,69.6,77.2,194.0,200.0,123.0,1062.7

In [5]:
year = df.YearTotalmm
shapiro_test = stats.shapiro(year)
print(f"Test Statistics (W) :{shapiro_test.statistic}")
print(f"Pvalue: {shapiro_test.pvalue}")

Test Statistics (W) :0.9787554406410487
Pvalue: 0.04466070471294367