In [ ]:
#Nobel dataset
# 1. P(winning a nobel prize in physics given the lautrete is female) - 0.05
# 2. P(Winning a nobel price in literature given that laureate was born in usa) - 0.03

In [5]:
import pandas as pd
df = pd.read_csv("../datasets/nobel.csv")
pd.set_option('display.max_columns',None)
df.head()

,awardYear,category,categoryFullName,sortOrder,portion,prizeAmount,prizeAmountAdjusted,dateAwarded,prizeStatus,motivation,categoryTopMotivation,award_link,id,name,knownName,givenName,familyName,fullName,penName,gender,laureate_link,birth_date,birth_city,birth_cityNow,birth_continent,birth_country,birth_countryNow,birth_locationString,death_date,death_city,death_cityNow,death_continent,death_country,death_countryNow,death_locationString,orgName,nativeName,acronym,org_founded_date,org_founded_city,org_founded_cityNow,org_founded_continent,org_founded_country,org_founded_countryNow,org_founded_locationString,ind_or_org,residence_1,residence_2,affiliation_1,affiliation_2,affiliation_3,affiliation_4
0,2001,Economic Sciences,The Sveriges Riksbank Prize in Economic Scienc...,2,01-Mar,10000000,12295082,10/10/2001,received,for their analyses of markets with asymmetric ...,NaN,https://masterdataapi.nobelprize.org/2/nobelPr...,745,A. Michael Spence,A. Michael Spence,A. Michael,Spence,A. Michael Spence,NaN,male,http://masterdataapi.nobelprize.org/2/laureate...,1943-00-00,"Montclair, NJ","Montclair, NJ",North America,USA,USA,"Montclair, NJ, USA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Individual,NaN,NaN,"Stanford University, Stanford, CA, USA",NaN,NaN,NaN
1,1975,Physics,The Nobel Prize in Physics,1,01-Mar,630000,3404179,17/10/1975,received,for the discovery of the connection between co...,NaN,https://masterdataapi.nobelprize.org/2/nobelPr...,102,Aage N. Bohr,Aage N. Bohr,Aage N.,Bohr,Aage Niels Bohr,NaN,male,http://masterdataapi.nobelprize.org/2/laureate...,19/06/1922,Copenhagen,Copenhagen,Europe,Denmark,Denmark,"Copenhagen, Denmark",08/09/2009,Copenhagen,Copenhagen,Europe,Denmark,Denmark,"Copenhagen, Denmark",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Individual,NaN,NaN,"Niels Bohr Institute, Copenhagen, Denmark",NaN,NaN,NaN
2,2004,Chemistry,The Nobel Prize in Chemistry,1,01-Mar,10000000,11762861,06/10/2004,received,for the discovery of ubiquitin-mediated protei...,NaN,https://masterdataapi.nobelprize.org/2/nobelPr...,779,Aaron Ciechanover,Aaron Ciechanover,Aaron,Ciechanover,Aaron Ciechanover,NaN,male,http://masterdataapi.nobelprize.org/2/laureate...,01/10/1947,Haifa,Haifa,Asia,British Protectorate of Palestine,Israel,"Haifa, British Protectorate of Palestine (now ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Individual,NaN,NaN,"Technion - Israel Institute of Technology, Hai...",NaN,NaN,NaN
3,1982,Chemistry,The Nobel Prize in Chemistry,1,1,1150000,3102518,18/10/1982,received,for his development of crystallographic electr...,NaN,https://masterdataapi.nobelprize.org/2/nobelPr...,259,Aaron Klug,Aaron Klug,Aaron,Klug,Aaron Klug,NaN,male,http://masterdataapi.nobelprize.org/2/laureate...,11/08/1926,Zelvas,Zelvas,Europe,Lithuania,Lithuania,"Zelvas, Lithuania",20/11/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Individual,NaN,NaN,"MRC Laboratory of Molecular Biology, Cambridge...",NaN,NaN,NaN
4,1979,Physics,The Nobel Prize in Physics,2,01-Mar,800000,2988048,15/10/1979,received,for their contributions to the theory of the u...,NaN,https://masterdataapi.nobelprize.org/2/nobelPr...,114,Abdus Salam,Abdus Salam,Abdus,Salam,Abdus Salam,NaN,male,http://masterdataapi.nobelprize.org/2/laureate...,29/01/1926,Jhang Maghiāna,Jhang Maghiāna,Asia,India,Pakistan,"Jhang Maghiāna, India (now Pakistan)",21/11/1996,Oxford,Oxford,Europe,United Kingdom,United Kingdom,"Oxford, United Kingdom",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Individual,NaN,NaN,"International Centre for Theoretical Physics, ...","Imperial College, London, United Kingdom",NaN,NaN

In [ ]:
# pd.set_option('display.max_rows',None)
print(df.info())
# pd.reset_option('display.max_rows')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950 entries, 0 to 949
Data columns (total 52 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   awardYear                   950 non-null    int64
 1   category                    950 non-null    object
 2   categoryFullName            950 non-null    object
 3   sortOrder                   950 non-null    int64
 4   portion                     950 non-null    object
 5   prizeAmount                 950 non-null    int64
 6   prizeAmountAdjusted         950 non-null    int64
 7   dateAwarded                 533 non-null    object
 8   prizeStatus                 950 non-null    object
 9   motivation                  950 non-null    object
 10  categoryTopMotivation       20 non-null     object
 11  award_link                  950 non-null    object
 12  id                          950 non-null    int64
 13  name                        950 non-null    object
 14  knownName                   923 non-null    object
 15  givenName                   923 non-null    object
 16  familyName                  921 non-null    object
 17  fullName                    923 non-null    object
 18  penName                     11 non-null     object
 19  gender                      923 non-null    object
 20  laureate_link               950 non-null    object
 21  birth_date                  923 non-null    object
 22  birth_city                  922 non-null    object
 23  birth_cityNow               922 non-null    object
 24  birth_continent             923 non-null    object
 25  birth_country               923 non-null    object
 26  birth_countryNow            923 non-null    object
 27  birth_locationString        923 non-null    object
 28  death_date                  630 non-null    object
 29  death_city                  611 non-null    object
 30  death_cityNow               611 non-null    object
 31  death_continent             617 non-null    object
 32  death_country               617 non-null    object
 33  death_countryNow            617 non-null    object
 34  death_locationString        618 non-null    object
 35  orgName                     27 non-null     object
 36  nativeName                  27 non-null     object
 37  acronym                     11 non-null     object
 38  org_founded_date            26 non-null     object
 39  org_founded_city            22 non-null     object
 40  org_founded_cityNow         22 non-null     object
 41  org_founded_continent       24 non-null     object
 42  org_founded_country         24 non-null     object
 43  org_founded_countryNow      24 non-null     object
 44  org_founded_locationString  24 non-null     object
 45  ind_or_org                  950 non-null    object
 46  residence_1                 219 non-null    object
 47  residence_2                 2 non-null      object
 48  affiliation_1               697 non-null    object
 49  affiliation_2               67 non-null     object
 50  affiliation_3               2 non-null      object
 51  affiliation_4               1 non-null      object
dtypes: int64(5), object(47)
memory usage: 386.1+ KB
None

In [11]:
total_winners = len(df)
female_winners = len(df[df['gender'] == 'female'])

# P_winning_given_female_winner = 
print(female_winners/total_winners)

0.056842105263157895